* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "latohairline";
  /* img back*/
  background: url(./image/backdice.jpg) no-repeat 50% 50%;
  padding: 100px 0px 100px 0px;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.left,
.right {
  height: 80vh;
}
.player,
.total_score,
.current,
.button-New_game,
.button-Roll,
.button-Hold,
.imageDice {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.player {
  top: 17vh;
  height: 100px;
  font-size: 2.5em;
}
.total_score {
  top: 12vh;
  height: 65px;
  font-size: 5em;
}
.current {
  display: block;
  top: 35vh;
  height: 80px;
  font-size: 0.9em;
  padding: 9px;
  font-weight: bold;
  width: 100px;
}
#score-current-player-1,
#score-current-player-2 {
  font-size: 2em;
}
/*******************************button*******************************/
.button-New_game {
  top: -70vh;
}
.button-Roll {
  top: -33.1vh;
}
.button-Hold {
  top: -32.1vh;
}
.imageDice {
  bottom: 71vh;
}
/***************************media************************************/
@media screen and (max-width: 500px) {
  .total_score {
    top: 200px;
    font-size: 2.5em;
  }
  .player {
    font-size: 2em;
  }
  .button-Roll {
    top: -360px;
  }
  .button-Hold {
    top: -200px;
  }
}
@media screen and (max-width: 380px) {
  .button-Roll {
    top: -300px;
  }
}
@media screen and (max-width: 380px) and (max-height: 670px) {
  .total_score {
    top: 130px;
    font-size: 2.5em;
  }
  .button-Roll {
    top: -250px;
  }
}
.button-Roll,
.button-Hold,
.button-New_game {
  border-width: 0 !important;
}
.button-Roll:active,
.button-Roll:focus {
  border: none !important;
}
